<h1>Maat</h1>

<blockquote>
  <a href="https://www.createwcare.com/">Created w/ care</a>
</blockquote>

<h2>About</h2>
<table class="col-two">
  <thead></thead>
  <tbody>
    <tr>
      <th>Version</th>
      <td hx-get="/api/lists/{gid}/version" hx-trigger="load"></td>
    </tr>
    <tr>
      <th>Developer</th>
      <td>
        <a href="/apps/talk/dm/~talfus-laddus" target="_blank" hx-boost="false"
          >~talfus-laddus</a
        >
      </td>
    </tr>
    <tr>
      <th>Code Repository</th>
      <td>
        <a href="https://github.com/matthiasschaub/maat">GitHub</a>
      </td>
    </tr>
  </tbody>
</table>
<template id="version-template">
  <td>{{#.}} {{.}} {{/.}}</td>
</template>

<h2>Frequently Asked Questions (FAQ)</h2>
<p>
  Take a look at the
  <a href="https://github.com/matthiasschaub/maat/blob/main/docs/faq.md">
    Frequently Asked Questions page</a
  >.
</p>

<h2>Contact</h2>
<p>
  Please reach out to
  <a href="/apps/talk/dm/~talfus-laddus" target="_blank" hx-boot="false"
    >~talfus-laddus</a
  >, to report any bug, to give feedbag or to receive support.
</p>
