<body hx-boost="true" hx-ext="client-side-templates,path-deps">
  <!-- <header> -->
  <!--   <!-1- navbar -1-> -->
  <!--   <nav> -->
  <!--     <ul> -->
  <!--       <li><a href="">Settings</a></li> -->
  <!--       <li> -->
  <!--         <a href="">About</a> -->
  <!--       </li> -->
  <!--     </ul> -->
  <!--   </nav> -->
  <!-- </header> -->
  <header>
    <div id="error-div" class="error">
      <pre hidden id="error-pre"></pre>
    </div>
  </header>
  <div id="overlay" class="overlay htmx-indicator htmx-request">
    <img class="spinner" src="/apps/maat/circles.svg" />
  </div>
  <div class="with-sidebar">
    <div hx-indicator="#overlay" class="sidebar">
      <!-- sidebar -->
    </div>
    <div>
      <!-- non-sidebar (main) -->
    </div>
  </div>
  <script src="/apps/maat/helper.js"></script>
</body>
