<h1>MAAT</h1>
<h2>Create new list</h2>

<!-- HACK: Make request to remove loading spinner. -->
<!-- Using hx-on:htmx:load or Javascript does not work. -->
<div
hx-get="/api/lists"
hx-trigger="load"
hidden
></div>

<form
  hx-put="/apps/maat/api/lists"
  hx-swap="none"
  hx-vals="js:{gid: self.crypto.randomUUID()}"
  hx-request="noHeaders"
  hx-on:htmx:load='console.log("Does not work"); document.getElementById("overlay").classList.remove("htmx-request");'
  hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat";'
>
  <fieldset>
    <label>Titel</label>
    <input
      id="list-title"
      type="text"
      name="title"
      aria-label="List Title"
      autocomplete="off"
      required
    />
    <label>Access</label>
    <select id="public" type="text" name="public" aria-label="Public" required>
      <option value="false">Private</option>
      <option value="true">Public</option>
    </select>
    <button class="button-primary" type="submit">Create list ▸</button>
    <button
      class="button-cancel"
      onclick="window.location.href='/apps/maat'"
      type="button"
      value="Cancel"
    >
      Cancel
    </button>
  </fieldset>
</form>
<!-- <script> -->
<!--   document.getElementById("overlay").classList.remove("htmx-request"); -->
<!-- </script> -->
