<h1
  hx-get="/api/lists/{gid}"
  hx-trigger="load"
  hx-ext="client-side-templates"
  mustache-template="edit-task__list-template"
></h1>
<h2>Update Task</h2>
<template id="edit-task__list-template"> {{title}} </template>
<div
  id="update"
  class="stack"
  hx-get="/api/lists/{gid}/tasks/{tid}"
  hx-trigger="load"
  hx-ext="client-side-templates,client-side-formats"
  mustache-template="task_edit__template"
></div>
<template id="task_edit__template">
  <form
    id="update-task"
    hx-put="/api/lists/{{gid}}/tasks"
    hx-vals='{"gid": "{{gid}}", "tid": "{{tid}}", "date": {{date}}, "done": {{done}}}'
    hx-swap="none"
    hx-ext="ignore:client-side-templates,client-side-formats"
    hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat/lists/" + gid() + "/tasks";'
  >
    <fieldset class="stack">
      <label for="update-title">Title:</label>
      <input
        id="update-title"
        name="title"
        aria-label="Title"
        type="text"
        value="{{title}}"
        autocomplete="false"
        spellcheck="false"
        required
      />
      <div class="stack--1">
        <label for="update-desc">Description:</label>
        <div class="grow-wrap">
          <textarea
            row="1"
            id="update-desc"
            name="desc"
            aria-label="Description"
            onInput="this.parentNode.dataset.replicatedValue = this.value"
          >
{{desc}}</textarea
          >
        </div>
      </div>

      <label for="update-tags">Tags <small>(Comma-separated)</small>:</label>
      <textarea id="update-tags" name="tags" aria-label="Tags">
{{tags}}</textarea
      >
      <button class="button-primary" type="submit">Update task ▸</button>
      <button
        class="button-cancel"
        onclick="window.location.href='/apps/maat/lists/' + gid() + '/tasks';"
        type="button"
        value="Cancel"
      >
        Cancel
      </button>
      <button
        id="delete-task"
        hx-delete="/api/lists/{gid}/tasks/{tid}"
        hx-confirm="Are you sure?"
        hx-swap="none"
        hx-on:htmx:after-request='if(event.detail.successful) window.location.pathname = "/apps/maat/lists/{{gid}}"'
      >
        Delete task
      </button>
    </fieldset>
  </form>
  <script>
    document
      .getElementById("update")
      .addEventListener("htmx:afterSettle", (_event) => {
        document.querySelectorAll("textarea").forEach((element) => {
          element.dispatchEvent(
            new Event("input", {
              bubbles: true,
              cancelable: true,
            }),
          );
        });
      });
  </script>
</template>
