<div
  id="update"
  hx-get="/api/lists/{gid}"
  hx-trigger="load"
  mustache-template="list-template"
></div>
<template id="list-template">
  <h1>Update {{host}}/{{title}}</h1>
  <form
    id="update-list"
    hx-put="/api/lists"
    hx-ext="json-enc"
    hx-vals='{"gid": "{{gid}}"}'
    hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat/lists/" + gid() + "/settings";'
  >
    <fieldset>
      <label for="update-title">Title:</label>
      <input
        autocomplete="false"
        id="update-title"
        name="title"
        placeholder="{{title}}"
        required
        spellcheck="false"
        type="text"
        aria-label="Title"
      />
      <label for="update-public">Public:</label>
      <select
        autocomplete="false"
        id="update-public"
        name="public"
        required
        spellcheck="false"
        type="text"
        aria-label="Title"
      >
        <option hidden disabled selected value>-- select an option --</option>
        <option>Yes</option>
        <option>No</option>
      </select>
      <button class="button-primary" type="submit">Update list ▸</button>
      <button
        class="button-cancel"
        onclick="window.location.href='/apps/maat/lists/' + gid() + '/settings';"
        type="button"
        value="Cancel"
      >
        Cancel
      </button>
    </fieldset>
  </form>
</template>
<script>
  var details = document.getElementById("update");
  details.addEventListener("htmx:afterSettle", (event) => {
    var form = document.getElementById("update-list");
    form.addEventListener("htmx:configRequest", (event) => {
      if ("public" in event.detail.parameters) {
        if (event.detail.parameters["public"] === "Yes") {
          event.detail.parameters.public = true;
        } else {
          event.detail.parameters.public = false;
        }
      }
    });
  });
</script>
