<h1>Update Task</h1>
<div
  id="update"
  hx-get="/api/lists/{gid}/tasks/{tid}"
  hx-trigger="load"
  mustache-template="task-template"
></div>
<template id="task-template">
  <form
    id="update-task"
    hx-put="/api/lists/{{gid}}/tasks"
    hx-vals='js:{gid: "{{gid}}", tid: "{{tid}}", date: parseInt("{{date}}"), done: JSON.parse("{{done}}"), tags: []}'
    hx-ext="json-enc"
    hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat/lists/" + gid() + "/tasks";'
  >
    <fieldset>
      <label for="update-title">Title:</label>
      <input
        autocomplete="false"
        id="update-title"
        name="title"
        placeholder="{{title}}"
        required
        spellcheck="false"
        type="text"
        aria-label="Title"
        value="{{title}}"
      />
      <label for="update-desc">Description:</label>
      <textarea id="update-desc" name="desc" aria-label="Description">
{{desc}}</textarea
      >
      <label for="update-tags">Tags <small>(Comma-separated)</small>:</label>
      <textarea id="update-tags" name="tags" aria-label="Tags">
{{tags}}</textarea
      >
      <button class="button-primary" type="submit">Update list ▸</button>
      <button
        class="button-cancel"
        onclick="window.location.href='/apps/maat/lists/' + gid() + '/tasks';"
        type="button"
        value="Cancel"
      >
        Cancel
      </button>
    </fieldset>
  </form>
</template>
<script src="/apps/maat/edit-task.js"></script>
