<div
  id="update-task"
  class="stack"
  hx-get="/api/lists/{gid}"
  hx-trigger="load"
  hx-ext="client-side-templates"
  mustache-template="list_edit__template"
></div>
<template id="list_edit__template">
  <h1>{{title}}</h1>
  <h2>Update List</h2>
  <form
    id="update-list"
    hx-put="/api/lists"
    hx-vals='{"gid": "{{gid}}"}'
    hx-ext="ignore:client-side-templates"
    hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat/lists/" + gid() + "/settings";'
  >
    <fieldset class="stack">
      <label for="update-title">Title:</label>
      <input
        id="update-title"
        name="title"
        aria-label="Title"
        autocomplete="false"
        spellcheck="false"
        type="text"
        value="{{title}}"
        required
      />
      <label for="update-public">Public:</label>
      <select
        id="update-public"
        name="public"
        aria-label="Public"
        type="text"
        required
      >
        <option hidden disabled selected value>-- Select an option --</option>
        <option>Yes</option>
        <option>No</option>
      </select>
      <button class="button-primary" type="submit">Update list ▸</button>
      <button
        class="button-cancel"
        onclick="window.location.href='/apps/maat/lists/' + gid() + '/settings';"
        type="button"
        value="Cancel"
      >
        Cancel
      </button>
    </fieldset>
  </form>
</template>
<script>
  var details = document.getElementById("update-task");
  details.addEventListener("htmx:afterSettle", (event) => {
    var form = document.getElementById("update-list");
    form.addEventListener("htmx:configRequest", (event) => {
      if ("public" in event.detail.parameters) {
        if (event.detail.parameters["public"] === "Yes") {
          event.detail.parameters.public = true;
        } else {
          event.detail.parameters.public = false;
        }
      }
    });
  });
</script>
