<head>
  <title>Tasks</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="view-transition" content="same-origin" />
  <link rel="stylesheet" href="/apps/maat/udjat.css" />
  <link rel="stylesheet" href="/apps/maat/style.css" />
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <script src="/apps/maat/index.js"></script>
  <script src="/apps/maat/path-deps.js"></script>
  <script src="/apps/maat/json-enc.js"></script>
  <script src="/apps/maat/client-side-templates.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/debug.js"></script>
</head>
