<h1>MAAT</h1>
<div id="error-div" class="error">
  <p id="error-pre"></p>
</div>

<table class="lists two-col">
  <thead>
    <tr>
      <th>List</th>
      <th>Host</th>
    </tr>
  </thead>
  <!-- TODO: add default message: no groups yet -->
  <tbody
    id="lists"
    hx-get="/api/lists"
    hx-trigger="load"
    mustache-template="lists-template"
  ></tbody>
</table>
<template id="lists-template">
  <!-- iterate over array of members object -->
  {{#.}}
  <tr
    hx-get="/lists/{{gid}}/tasks"
    hx-target="body"
    hx-trigger="click"
    hx-push-url="true"
  >
    <td>{{title}}</td>
    <td>{{host}}</td>
  </tr>
  {{/.}}
</template>
<footer>
  <div class="footer-icon">
    <a href="/apps/maat/create">
      <svg
        id="add-btn"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        color="var(--color-fg)"
      >
        <path
          d="M22 14V8.5M6 13V6a3 3 0 013-3h5M16.992 4h3m3 0h-3m0 0V1m0 3v3M12 21H6a4 4 0 010-8h12a4 4 0 104 4v-3"
          stroke="var(--color-fg)"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </a>
  </div>
</footer>
<p
  id="invites"
  hx-get="/api/invites"
  hx-trigger="load"
  hx-ext="client-side-formats"
  mustache-template="invites-temp"
></p>
<template id="invites-temp">
  {{#invites}} You are invited to join another list. See
  <a href="/apps/maat/invites">invites</a>. {{/invites}}
  {{^invites}}{{/invites}}
</template>
