<!-- TODO: does not work -->
<!-- <h1 -->
<!--   hx-get="/api/lists/{gid}" -->
<!--   hx-trigger="load" -->
<!--   hx-ext="client-side-templates" -->
<!--   mustache-template="invite__title-template" -->
<!--   hidden -->
<!-- ></h1> -->
<!-- <template id="invite__title-template"> -->
<!--   {{title}} -->
<!-- </template> -->

<h2>Add members</h2>

<!-- HACK: Make request to remove loading spinner. -->
<!-- Using hx-on:htmx:load or Javascript does not work. -->
<div
hx-get="/api/lists"
hx-trigger="load"
hidden
></div>

<p>
  Invite people on Urbit to join this list.<br /><small>(In-app invite)</small>
</p>
<form
  id="put-invitees"
  hx-put="/api/lists/{gid}/invitees"
  hx-swap="none"
  hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat/lists/" + gid() + "/settings";'
>
  <fieldset class="stack">
    <!-- TODO: add validation for valid @p -->
    <label>Urbit ID</label>
    <input
      id="invitee"
      type="text"
      name="invitee"
      aria-label="invitee"
      placeholder="~zod"
      autocomplete="off"
      required="required"
    />
    <button class="button-primary" type="submit" form="put-invitees">
      Send invite ▸
    </button>
    <button
      class="button-cancel"
      onclick="window.location.href='/apps/maat/lists/' + gid() + '/settings';"
      type="button"
      value="Cancel"
    >
      Cancel
    </button>
  </fieldset>
</form>
