<h1>MAAT</h1>
<div
  hx-get="/api/invites"
  hx-trigger="load"
  hx-swap="outerHTML"
  hx-ext="client-side-templates"
  mustache-template="invites-template"
>
  <template id="invites-template">
    {{#.}}
    <fieldset class="stack">
      <label
        >You got invited to join <em>{{title}}</em> by <em>{{host}}</em>.</label
      >
      <button
        id="post-join"
        class="button-primary"
        hx-post="/api/join"
        hx-swap="none"
        hx-vals='{"gid": "{{gid}}", "host": "{{host}}", "public": "{{public}}"}'
        hx-on::after-request='if(event.detail.successful) setTimeout(() => window.location.pathname = "/apps/maat/lists/{{gid}}/tasks" , 2000);'
        type="submit"
      >
        Join list ▸
      </button>
      <!-- TODO -->
      <!-- <button -->
      <!--   id="post-leave" -->
      <!--   class="button-cancel" -->
      <!--   hx-post="/api/leave" -->
      <!--   hx-swap="none" -->
      <!--   hx-vals='{"gid": "{{gid}}", "host": "{{host}}", "public": "{{public}}"}' -->
      <!--   hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat"' -->
      <!--   type="submit" -->
      <!-- > -->
      <!--   Decline invitation ▸ -->
      <!-- </button> -->
    </fieldset>
    {{/.}}
  </template>
</div>
