<h1
  hx-get="/api/lists/{gid}"
  hx-trigger="load"
  hx-ext="client-side-templates"
  mustache-template="tasks__list-template"
></h1>
<template id="tasks__list-template"> {{title}} </template>
<h2>Settings</h1>

<h3>Details</h3>
<table
  class="col-two"
  hx-get="/api/lists/{gid}"
  hx-trigger="load"
  hx-ext="client-side-templates"
  mustache-template="settings__list-template"
></table>
<template id="settings__list-template">
  <thead></thead>
  <tbody>
    <tr>
      <th>Title</th>
      <td>{{title}}</td>
    </tr>
    <tr>
      <th>Host</th>
      <td>{{host}}</td>
    </tr>
    <tr>
      <th>Public</th>
      <td>{{public}}</td>
    </tr>
  </tbody>
</template>

<h3>Update list</h3>
<p><a href="/lists/{gid}/edit">Update</a> this lists metadata.</p>

<h3>Members</h3>
<ul
  hx-get="/api/lists/{gid}/members"
  hx-trigger="load"
  hx-ext="client-side-templates"
  mustache-template="settings__members-template"
>
  <template id="settings__members-template">
    {{#.}}
    <li>{{.}}</li>
    {{/.}} {{^.}}
    <li>No members</li>
    {{/.}}
  </template>
</ul>

<h3>Add members</h3>
<p>
  <a
    hx-get="/lists/{gid}/invite"
    hx-target="body"
    hx-trigger="click"
    hx-push-url="true"
    >Add</a
  >
  members to this list.
</p>

<h3>Export tasks</h3>
<p>
  <a
    onclick="window.location.pathname = '/apps/maat/api/lists/' + gid() + '/tasks'"
    >Download</a
  >
  all tasks of this list as JSON.
</p>

<h3>Delete list</h3>
<p>
  Permanently
  <a
    id="delete-list"
    hx-delete="/api/lists/{gid}"
    hx-confirm="Are you sure?"
    hx-swap="none"
    hx-vals="js:{gid: gid()}"
    hx-on:htmx:after-request='if(event.detail.successful) window.location.pathname = "/apps/maat"'
    >delete</a
  >
  this group.
</p>
