<main>
  <div
    hx-get="/api/lists/{gid}"
    hx-trigger="load"
    mustache-template="list-template"
  ></div>
  <template id="list-template">
    <h2>
      Settings<img
        style="visibility: hidden"
        class="svg-ico"
        src="/apps/maat/icon.svg"
      />
    </h2>
    <h3>Details</h3>
    <form method="PUT" id="update-list"></form>
    <table class="col-two">
      <thead></thead>
      <tbody>
        <tr>
          <th>Title</th>
          <td>{{title}}</td>
        </tr>
        <tr>
          <th>Host</th>
          <td>{{host}}</td>
        </tr>
        <tr>
          <th>Public</th>
          <td>{{public}}</td>
        </tr>
      </tbody>
    </table>
    <h3>Update list</h3>
    <form
      id="update-list"
      hx-put="/api/lists"
      hx-ext="json-enc"
      hx-vals='{"gid": "{{gid}}", "host": "{{host}}"'
    >
      <fieldset>
        <label for="update-title">Title:</label>
        <input
          autocomplete="false"
          id="update-title"
          name="title"
          placeholder="{{title}}"
          required
          spellcheck="false"
          type="text"
          aria-label="Title"
        />
        <label for="update-public">Public:</label>
        <select
          autocomplete="false"
          id="update-public"
          name="public"
          required
          spellcheck="false"
          type="text"
          aria-label="Title"
        >
          <option>true</option>
          <option>false</option>
        </select>
        <button type="submit">Update list ▸</button>
      </fieldset>
    </form>
  </template>

  <h3>Export tasks</h3>
  <p>
    <a
      onclick="window.location.pathname = '/apps/maat/api/lists/' + gid() + '/tasks'"
      >Download</a
    >
    all expenses of this group as JSON.
  </p>

  <h3>Delete list</h3>
  <p>
    Permanently
    <a
      id="delete-list"
      hx-delete="/api/lists/{gid}"
      hx-confirm="Are you sure?"
      hx-ext="json-enc"
      hx-swap="none"
      hx-vals="js:{gid: gid()}"
      hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat"'
      >delete</a
    >
    this group.
  </p>
</main>
