<div
  id="details"
  hx-get="/api/lists/{gid}"
  hx-trigger="load, path-deps"
  path-deps="/apps/maat/api/lists"
  mustache-template="list-template"
></div>
<template id="list-template">
  <h1>Settings</h1>
  <h2>Details</h2>
  <table class="col-two">
    <thead></thead>
    <tbody>
      <tr>
        <th>Title</th>
        <td>{{title}}</td>
      </tr>
      <tr>
        <th>Host</th>
        <td>{{host}}</td>
      </tr>
      <tr>
        <th>Public</th>
        <td>{{public}}</td>
      </tr>
    </tbody>
  </table>
</template>
<h2>Update list</h2>
<p><a href="/lists/{gid}/edit">Update</a> this lists metadata.</p>

<h2>Members</h2>
<ul
  id="members"
  hx-get="/api/lists/{gid}/members"
  hx-trigger="load"
  hx-swap="outerHTML"
  mustache-template="members-template"
>
  <template id="members-template">
    {{#.}}
    <li>{{.}}</li>
    {{/.}}
  </template>
</ul>
<h2>Add members</h2>
<p>
  <a
    hx-get="/lists/{gid}/invite"
    hx-target="body"
    hx-trigger="click"
    hx-push-url="true"
    >Add</a
  >
  members to this list.
</p>
<h2>Export tasks</h2>
<p>
  <a
    onclick="window.location.pathname = '/apps/maat/api/lists/' + gid() + '/tasks'"
    >Download</a
  >
  all tasks of this list as JSON.
</p>

<h2>Delete list</h2>
<p>
  Permanently
  <a
    id="delete-list"
    hx-delete="/api/lists/{gid}"
    hx-confirm="Are you sure?"
    hx-ext="json-enc"
    hx-swap="none"
    hx-vals="js:{gid: gid()}"
    hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat"'
    >delete</a
  >
  this group.
</p>
