<!-- sidebar -->
<nav>
  <div class="header-icon">
    <h1>
      <svg
        class="svg-ico"
        version="1.1"
        viewBox="0 0 135.47 135.47"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use xlink:href="/apps/maat/icon.svg#icon" />
      </svg>
      MAAT
    </h1>
  </div>
  <ul
    id="lists"
    hx-get="/api/lists"
    hx-trigger="load, path-deps"
    path-deps="/apps/maat/api/lists"
    mustache-template="lists-template"
  ></ul>
  <template id="lists-template">
    <!-- iterate over array of response object -->
    {{#.}}
    <li>
      <a href="/lists/{{gid}}/tasks#filter-tasks">{{title}}</a>
    </li>
    {{/.}}
  </template>
  <ul class="sticky-bottom">
    <li>
      <a>
        <form
          id="put-lists"
          class="inline"
          hx-put="/api/lists"
          hx-swap="none"
          hx-vals="js:{gid: self.crypto.randomUUID(), public: false}"
          hx-on::after-request="if(event.detail.successful) this.reset();"
        >
          <input
            name="title"
            type="text"
            placeholder="Add new list"
            autocomplete="false"
            spellcheck="false"
            required
          />
        </form>
      </a>
    </li>
    <li><a href="/lists/{gid}/settings">Settings</a></li>
  </ul>
</nav>
