<h1
  id="list"
  hx-get="/api/lists/{gid}"
  hx-trigger="load, path-deps"
  path-deps="/apps/maat/api/lists/*/tasks"
  mustache-template="list-template"
></h1>
<template id="list-template">{{title}} </template>
<ul class="sticky-top" id="filter-tasks">
  <li>
    <a class="icon icon-circle-question"></a>
    <form
      id="filter-tasks"
      class="inline"
      hx-get="/api/lists/{gid}/tasks"
      hx-vals='{"done": "false"}'
      hx-target="#tasks"
      mustache-template="tasks-todo-template"
    >
      <input
        id="filter-tasks-input"
        name="tags"
        type="text"
        placeholder="Filter by tags"
      />
    </form>
  </li>
</ul>
<ul
  id="tasks"
  class="tasks"
  hx-get="/api/lists/{gid}/tasks"
  hx-vals='{"done": "false"}'
  hx-trigger="load, path-deps"
  path-deps="/apps/maat/api/lists/*/tasks"
  mustache-template="tasks-todo-template"
></ul>
<template id="tasks-todo-template">
  {{#.}}
  <li>
    <a
      id="{{tid}}"
      class="icon icon-circle"
      hx-put="/api/lists/{{gid}}/tasks"
      hx-vals='{"gid": "{{gid}}", "tid": "{{tid}}", "title": "{{title}}", "desc": "{{desc}}", "date": {{date}}, "done": true, "tags": []}'
      hx-ext="json-enc"
      hx-trigger="click"
    >
    </a>
    <a style="text-decoration: none" href="/lists/{{gid}}/tasks/{{tid}}/edit"
      >{{title}} <small><em>{{tags}}</em></small></a
    >
    {{/.}}
  </li>
</template>
<ul
  id="tasks-done"
  class="tasks__done"
  hx-get="/api/lists/{gid}/tasks"
  hx-vals='{"done": "true"}'
  hx-trigger="load, path-deps"
  path-deps="/apps/maat/api/lists/*/tasks"
  mustache-template="tasks-done-template"
></ul>
<template id="tasks-done-template">
  {{#.}}
  <li>
    <a
      id="{{tid}}"
      class="icon icon-circle-checked"
      hx-put="/api/lists/{{gid}}/tasks"
      hx-vals='{"gid": "{{gid}}", "tid": "{{tid}}", "title": "{{title}}", "desc": "{{desc}}", "date": {{date}}, "done": false, "tags": []}'
      hx-ext="json-enc"
      hx-trigger="click"
    >
    </a>
    <s
      >{{title}} <small><em>{{tags}}</em></small></s
    >
    {{/.}}
  </li>
</template>
<!-- <li> -->
<!--   <a class="icon icon-circle-checked"> </a> -->
<!--   <s>Cheese</s> -->
<!-- </li> -->
<ul class="sticky-bottom">
  <li>
    <a class="icon icon-circle-plus"></a>
    <form
      id="put-tasks"
      class="inline"
      hx-put="/api/lists/{gid}/tasks"
      hx-ext="json-enc"
      hx-swap="none"
      hx-vals="js:{tid: self.crypto.randomUUID(), gid: gid(), desc: '', date: new Date().valueOf(), done: false, tags: []}"
      hx-on::after-request="if(event.detail.successful) this.reset();"
    >
      <input name="title" type="text" placeholder="Add new task" />
    </form>
  </li>
</ul>
<script src="/apps/maat/tasks.js"></script>
<!-- <div class="done"> -->
<!--   <h3>Done</h3> -->
<!--   <ul> -->
<!--     <li> -->
<!--       <a class="icon icon-circle-checked"> </a> -->
<!--       Bread -->
<!--     </li> -->
<!--     <li> -->
<!--       <a class="icon icon-circle-checked"> </a> -->
<!--       Milk -->
<!--     </li> -->
<!--     <li> -->
<!--       <a class="icon icon-circle-checked"> </a> -->
<!--       Apples -->
<!--     </li> -->
<!--     <li> -->
<!--       <a class="icon icon-circle-checked"> </a> -->
<!--       Grapefruit -->
<!--     </li> -->
<!--     <li> -->
<!--       <a class="icon icon-circle-checked"> </a> -->
<!--       Cat food -->
<!--     </li> -->
<!--     <li> -->
<!--       <a class="icon icon-circle-checked"> </a> -->
<!--       Cheese -->
<!--     </li> -->
<!--     <li> -->
<!--       <a class="icon icon-circle-checked"> </a> -->
<!--       Wine -->
<!--     </li> -->
<!--   </ul> -->
<!-- </div> -->
<!-- </main> -->
