<!-- TODO: does not work -->
<h1
  id="tasks_public__title"
  hx-get="/api/lists/{gid}"
  hx-trigger="load"
  hx-ext="client-side-templates"
  mustache-template="tasks_public__title-template"
></h1>
<template id="tasks_public__title-template"> {{title}} </template>

<!-- Filter tasks -->
<ul class="sticky-top">
  <li>
    <a class="icon icon-circle-question"></a>
    <!-- hx-target="#tasks" -->
    <!-- hx-disinherit="*" -->
    <!-- hx-get="/api/lists/{gid}/tasks" -->
    <!-- hx-vals='{"done": "false"}' -->
    <!-- mustache-template="tasks-todo-template" -->
    <div class="inline_form">
      <form class="floating_form">
        <select
          name="tags"
          id="tasks__tags"
          hx-get="/api/lists/{gid}/tags"
          hx-trigger="load, path-deps"
          hx-ext="client-side-templates"
          path-deps="/apps/maat/api/lists/*/tasks"
          mustache-template="tasks__tags-template"
          onchange="PathDeps.refresh('/apps/maat/api/lists/*/tasks');"
        ></select>
        <button
          style="margin: 0"
          type="reset"
          onclick="PathDeps.refresh('/apps/maat/api/lists/*/tasks');"
        >
          Clear filter
        </button>
      </form>
    </div>
    <template id="tasks__tags-template">
      <option disabled selected value="">Filter by tag</option>
      {{#.}}
      <option value="{{.}}">{{.}}</option>
      {{/.}}
    </template>
  </li>
</ul>

<!-- Undone tasks -->
<ul
  class="tasks"
  hx-get="/api/lists/{gid}/tasks"
  hx-vals='{"done": "false"}'
  hx-include="#tasks__tags"
  hx-trigger="load, path-deps"
  hx-ext="client-side-templates,path-deps"
  path-deps="/apps/maat/api/lists/*/tasks"
  mustache-template="tasks__todo-template"
></ul>
<template id="tasks__todo-template">
  {{#.}}
  <li>
    <!-- mark task as done -->
    <!-- NOTE: be careful with the js prefix for hx-vals when dealing with user input -->
    <a id="{{tid}}" class="icon icon-circle" style="pointer-events: none"> </a>
    <a style="text-decoration: none" href="/lists/{{gid}}/tasks/{{tid}}/show"
      >{{title}} <code>{{tags}}</code>
      <br />
      <p class="ellipsis"><small>{{desc}}</small></p>
    </a>
  </li>
  {{/.}}
</template>

<!-- Done tasks -->
<ul
  id="tasks-done"
  class="tasks__done"
  hx-get="/api/lists/{gid}/tasks"
  hx-vals='{"done": "true"}'
  hx-include="#tasks__tags"
  hx-trigger="load, path-deps"
  hx-ext="client-side-templates"
  path-deps="/apps/maat/api/lists/*/tasks"
  mustache-template="tasks__done-template"
></ul>
<template id="tasks__done-template">
  {{#.}}
  <li>
    <!-- mark task as undone -->
    <!-- NOTE: be careful with the js prefix for hx-vals when dealing with user input -->
    <a
      id="{{tid}}"
      class="icon icon-circle-checked"
      hx-put="/api/lists/{{gid}}/tasks"
      hx-vals='js:{gid: "{{gid}}", tid: "{{tid}}", title: "{{title}}", desc: `{{desc}}`, date: {{date}}, done: false, tags: "{{tags}}"}'
      hx-trigger="click"
      hx-ext="ignore:client-side-templates"
    >
    </a>
    <s>
      <a style="text-decoration: none" href="/lists/{{gid}}/tasks/{{tid}}/show"
        >{{title}} <code>{{tags}}</code></a
      >
    </s>
    {{/.}}
  </li>
</template>
