<!doctype html>
<html lang="en">
  <head>
    <title>Tasks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Todo App for Urbit" />
    <meta name="view-transition" content="same-origin" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Maat" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/apps/maat/icon180.png" />
    <link rel="icon" href="/apps/maat/icon16.png" sizes="16x16" />
    <link
      rel="icon"
      href="/apps/maat/icon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="manifest"
      href="/apps/maat/manifest.json"
      crossorigin="use-credentials"
    />
    <link rel="stylesheet" href="/apps/maat/udjat.css" />
    <link rel="stylesheet" href="/apps/maat/style.css" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script src="/apps/maat/index.js"></script>
    <script src="/apps/maat/path-deps.js"></script>
    <script src="/apps/maat/json-enc.js"></script>
    <script src="/apps/maat/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/debug.js"></script>
  </head>

  <body hx-boost="true" hx-ext="client-side-templates,path-deps">
    <header>
      <div id="error-div" class="error">
        <pre hidden id="error-pre"></pre>
      </div>
    </header>
    <div id="overlay" class="overlay htmx-indicator htmx-request">
      <img class="spinner" src="/apps/maat/circles.svg" />
    </div>
    <div class="with-sidebar">
      <div hx-indicator="#overlay"><!-- sidebar -->
<nav>
  <div class="header-icon">
    <h2><img class="svg-ico" src="/apps/maat/icon.svg" />MAAT</h2>
  </div>
  <ul
    id="lists"
    hx-get="/api/lists"
    hx-trigger="load, path-deps"
    path-deps="/apps/maat/api/lists"
    mustache-template="lists-template"
  ></ul>
  <template id="lists-template">
    <!-- iterate over array of response object -->
    {{#.}}
    <li>
      <a href="/lists/{{gid}}/tasks#filter-tasks">{{title}}</a>
    </li>
    {{/.}}
  </template>
  <ul class="sticky-bottom">
    <li>
      <a>
        <form
          id="put-lists"
          class="inline-form"
          hx-put="/api/lists"
          hx-ext="json-enc"
          hx-swap="none"
          hx-vals="js:{gid: self.crypto.randomUUID(), public: false}"
          hx-on::after-request="if(event.detail.successful) this.reset();"
        >
          <input
            class="inline-input"
            name="title"
            type="text"
            placeholder="Add new list"
            autocomplete="false"
            spellcheck="false"
            required
          />
        </form>
      </a>
    </li>
    <li><a href="/lists/{gid}/settings">Settings</a></li>
  </ul>
</nav>
</div>
      <div><main
  id="main"
  hx-get="/api/lists/{gid}"
  hx-trigger="load"
  mustache-template="list-template"
></main>
<template id="list-template">
  <h2>
        Update <small>{{host}}/{{title}}</small><img
      style="visibility: hidden"
      class="svg-ico"
      src="/apps/maat/icon.svg"
    />
  </h2>
  <form
    id="update-list"
    hx-put="/api/lists"
    hx-ext="json-enc"
    hx-vals='{"gid": "{{gid}}"}'
    hx-on::after-request='if(event.detail.successful) window.location.pathname = "/apps/maat/lists/" + gid() + "/settings";'
  >
    <fieldset>
      <label for="update-title">Title:</label>
      <input
        autocomplete="false"
        id="update-title"
        name="title"
        placeholder="{{title}}"
        required
        spellcheck="false"
        type="text"
        aria-label="Title"
      />
      <label for="update-public">Public:</label>
      <select
        autocomplete="false"
        id="update-public"
        name="public"
        required
        spellcheck="false"
        type="text"
        aria-label="Title"
      >
        <option hidden disabled selected value> -- select an option -- </option>
        <option>Yes</option>
        <option>No</option>
      </select>
      <button type="submit">Update list ▸</button>
    </fieldset>
  </form>
</template>
<script>
  var details = document.getElementById("main");
  details.addEventListener("htmx:afterSettle", (event) => {
    var form = document.getElementById("update-list");
    form.addEventListener("htmx:configRequest", (event) => {
      if ("public" in event.detail.parameters) {
        if (event.detail.parameters["public"] === "Yes") {
          event.detail.parameters.public = true;
        } else {
          event.detail.parameters.public = false;
        }
      }
    });
  });
</script>
</div>
    </div>
    <script src="/apps/maat/helper.js"></script>
  </body>
</html>
