.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--vspace); */
}

.with-sidebar > :first-child {
  flex-grow: 1;
  /* flex-basis: 30%; */
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 75%;
}

.with-sidebar > div > nav ul,
.with-sidebar > div > nav ol {
  /* align-content: space-around; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}

/* List items are inline elements, make them behave more like blocks */
.with-sidebar > div > nav ul li,
.with-sidebar > div > nav ol li {
  display: inline-block;
}

.with-sidebar > div > nav a,
.with-sidebar > div > nav a:visited {
  display: inline-block;
  padding: 0.1rem 1rem;
}

ul {
  padding: 0;
}
ul > li {
  list-style-type: none;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  /* width: calc(var(--max-width)/2); */
}

/* li::marker { */
/*   content: "○ "; */
/* } */

/* li:hover::marker { */
/*   content: "⦻ "; */
/* } */

/* .done > * > li::marker { */
/*   content: "⦻ "; */
/* } */

/* .done > * > li:hover::marker { */
/*   content: "○ "; */
/* } */

li:hover {
  /* transform: scale(1.05); */
  /* border: 1px solid #f90; */
  font-weight: bold;
  cursor: pointer;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  aspect-ratio: 1;
  background-size: cover;
}

.icon-circle {
  background-image: url(circle.svg);
}

.icon-circle:hover {
  background-image: url(circle-checked.svg);
}

.icon-circle-checked {
  background-image: url(circle-checked.svg);
}
.icon-circle-checked:hover {
  background-image: url(circle.svg);
}

.icon-circle-plus {
  background-image: url(circle-plus.svg);
}

.icon-circle-question {
  background-image: url(circle-question.svg);
}

/* .column { */
/*   display: grid; */
/*   grid-template-columns: repeat(2, minmax(auto, 1fr)); */
/* } */
